<div class="menu">
  <button [routerLink]="['/']" routerLinkActive="router-link-active">Listing</button>
  <button [routerLink]="['/movies/details']" routerLinkActive="router-link-active">Details</button>
</div>

<div *ngFor="let movie of movies$ | async">
  <a [routerLink]="['details', movie.id]">
    <img alt="{{movie.title}}" *ngIf="movie.poster_path; else noImage"
         src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}"/>
    <ng-template #noImage>
      <img alt="{{movie.title}}" src="http://makeupstudio.lu/html/images/poster/no_poster_available.jpg"/>
    </ng-template>

    <div class="item-overlay">
      <div class="item-overview">
        <div class="item-heading">
          <p class="item-title" *ngIf="movie.title">{{movie.title}}</p>
          <div class="item-rating" *ngIf="movie.vote_average">
            Rating: {{movie.vote_average}} / 10
          </div>
          <!--          <span *ngFor="let gen of movie.genres | async">{{gen.name}} </span>-->
        </div>
        <div class="item-description" *ngIf="movie.overview">
          <p>{{movie.overview | slice:0:150 }}{{movie.overview.length > 150 ? '...' : ''}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
