<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <h1>
      <a mat-button routerLink="/">Movie Listing App</a>
    </h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/popular">Popular</a>
      <a mat-button routerLink="/latest">Latest</a>
      <a mat-button routerLink="/now_playing">Now Playing</a>
      <a mat-button routerLink="/top_rated">Top Rated</a>
      <a mat-button routerLink="/upcoming">Upcoming</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>





