// Header
// -------------------------------------------------
.header {
  background: #1c2938;
  border-bottom: 2px solid color(blacks, border);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 72px;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 200;

  .title {
    outline: none;
    letter-spacing: $kerning;
    font-size: 20px;
    font-family: $font-family-base;

    @include bp(min-width, $medium-min) {
      font-size: 36px;
    }

    a {
      color: white;
    }
  }
}
