// Header
// -------------------------------------------------
.header {
  background: #1c2938;
  border-bottom: 2px solid color(blacks, border);
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 180px;
  padding: 30px;
  width: 100%;

  @include bp(min-width, $medium-min) {
    height: 240px;
  }

  .title {
    letter-spacing: $kerning;
    font-size: 24px;
    font-family: $font-family-base;
    text-transform: uppercase;

    @include bp(min-width, $medium-min) {
      font-size: 48px;
    }

    a {
      color: white;
    }
  }
}
