.movie-list {
  height: 100%;
  width: 100%;

  &-wrapper {
    background-color: var(--colourBrand);
    display: flex;
    flex-flow: row wrap;
  }
}

.card-movie {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;

  img {
    height: fit-content;
    object-fit: cover;
    object-position: center;
  }
}

.card-avatar {
  background-size: cover;
}

.mat-card-image {
  margin: 0 auto 32px;
}

.mat-card-image-bg {
  background-size: cover;
  padding-bottom: 20%;
  height: 0;
  width: 100%;
}

.list-item {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: (100% / 2);
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  > p {
    display: none;
  }
}

.spinner {
  animation: rotation 1s infinite linear;
  background: transparent;
  border: var(--spinnerBorderWidth) solid var(--spinnerBorder);
  border-left-color: var(--spinnerBorderAccent);
  border-radius: 50%;
  display: block;
  height: var(--spinnerSize);
  width: var(--spinnerSize);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
