@import '../../../../theme/utilities/utilities';

.movie-list {
  height: 100vh;
  width: 100%;

  &-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  &-container {
    padding-top: spacing(content, medium);
    height: 100%;
    margin: 0 auto;
  }
}

.card-movie {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  position: relative;
  width: 100%;

  img {
    height: fit-content;
    object-fit: cover;
    object-position: center;
  }
}

.list-item {
  box-sizing: border-box;
  margin-bottom: spacing(content, large);
  padding-left: 10px;
  padding-right: 10px;
  width: (100% / 2);

  @include bp(min-width, $medium-min) {
    height: 244px;
  }
}

.loading {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  > p {
    margin-top: 20px;
  }
}

.item-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;

  p {
    font-size: 12px;

    @include bp(min-width, $small-min) {
      font-size: 14px;
    }
  }
}

.mat-card {
  .card-avatar {
    background-size: cover;
    display: none;

    @include bp(min-width, $medium-min) {
      display: block;
    }
  }

  .mat-card-header {
    .mat-card-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 16px;
      overflow: hidden;

      @include bp(min-width, $medium-min) {
        font-size: 20px;
      }
    }
  }

  .mat-card-image {
    margin: 0 auto 32px;
  }

  .mat-card-image-bg {
    background-size: cover;
    padding-bottom: 20%;
    height: 0;
    width: 100%;
  }

  .mat-card-content {
    margin-bottom: 10px;
  }

  .mat-card-actions {
    margin-top: auto;

    .mat-button {
      width: 100%;
    }
  }
}

.spinner {
  animation: rotation 1s infinite linear;
  background: transparent;
  border: var(--spinnerBorderWidth) solid var(--spinnerBorder);
  border-left-color: var(--spinnerBorderAccent);
  border-radius: 50%;
  display: block;
  height: var(--spinnerSize);
  width: var(--spinnerSize);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
