<ng-container *ngIf="resizeHandler$ | async"></ng-container>

<div *ngIf="isLoading" class="loading">
  <div class="spinner"></div>
  <p>Loading</p>
</div>

<div class="movie-list-container" *ngIf="movies?.length; else noMovies">
  <cdk-virtual-scroll-viewport class="movie-list" itemSize="244" maxBufferPx="800" (scrolledIndexChange)="scrolledIndexChange($event)">
    <div class="movie-list-wrapper">
      <div *cdkVirtualFor="let movie of movies; index as i; trackBy: identify" class="list-item">
        <mat-card class="card-movie">
          <mat-card-header>
            <div *ngIf="movie.poster_path" class="card-avatar" mat-card-avatar
                 [style.background-image]="'url(https://image.tmdb.org/t/p/w300/' + movie.poster_path + ')'"></div>
            <mat-card-title>{{ movie.title }}</mat-card-title>
            <mat-card-subtitle>Rating {{ movie.vote_average }} / 10 | Released: {{ movie.release_date | date: 'yyyy' }} | Popularity: {{ movie.popularity | number: '1.0-0'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="item-description" *ngIf="movie.overview">
              <p>{{movie.overview }}</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button mat-raised-button [routerLink]="['details', movie.id]">Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<ng-template #noMovies>
  <p>No movies found. Please try again later.</p>
</ng-template>
