<div *ngIf="!movies || movies.length === 0" class="loading">
  <div class="spinner"></div>
  <p>Loading</p>
</div>

<cdk-virtual-scroll-viewport class="movie-list" itemSize="100" maxBufferPx="500"
                             (scrolledIndexChange)="scrolledIndexChange($event)">
  <div class="movie-list-wrapper">
    <div *cdkVirtualFor="let movie of movies; index as i;" class="list-item">
    <mat-card class="card-movie">
        <mat-card-header>
          <div *ngIf="movie.poster_path" class="card-avatar" mat-card-avatar [style.background-image]="'url(https://image.tmdb.org/t/p/w300/' + movie.poster_path + ')'"></div>
          <mat-card-title>{{ movie.title }}</mat-card-title>
          <mat-card-subtitle>Rating {{ movie.vote_average }} / 10</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image alt="{{movie.title}}" *ngIf="movie.poster_path; else noImage"
             src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}"/>
        <ng-template #noImage>
          <img mat-card-image alt="{{movie.title}}" src="http://makeupstudio.lu/html/images/poster/no_poster_available.jpg"/>
        </ng-template>


        <mat-card-content>
          <div class="item-description" *ngIf="movie.overview">
            <p>{{movie.overview | slice:0:150 }}{{movie.overview.length > 150 ? '...' : ''}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button mat-raised-button [routerLink]="['details', movie.id]">Details</button>
        </mat-card-actions>
    </mat-card>
  </div>
  </div>
</cdk-virtual-scroll-viewport>
